client

tls-client
auth SHA256
cipher AES-256-CBC
remote-cert-tls server
tls-version-min 1.2

proto {{ openvpn_proto }}
remote {{ openvpn_address }} {{ openvpn_port }}
dev tun

resolv-retry 5
nobind
keepalive 5 30
persist-key
persist-tun
verb 3

route-method exe
route-delay 2

key-direction 1
<ca>
{{ openvpn_ca_cert.content|b64decode }}
</ca>

<tls-auth>
{{ openvpn_tls_auth.content|b64decode }}
</tls-auth>

<cert>
{{ item.0.content|b64decode }}
</cert>

<key>
{{ item.1.content|b64decode }}
</key>
